<div class="wrapper row3"><div class="rounded" >
<main class="container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->

    <!-- ################################################################################################ -->
    <h1 style="font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Director: Prof. Cheung Siu Yin –
        Professor</h1>
    <img class="imgr borderedbox" src="asset/img/people/cheungsiuyin.jpg" alt="Cheung Siu Yin">

    <div class="bio">
        <p class="subpageContent">Doctor of Physical Education, specialized in Sport Psychology, Springfield College,
            USA <br>
            Master of Science, specialized in Community Physical Education, Springfield College, USA <br>
            Advanced Teacher's Certificate, Grantham College of Education, HK<br>
            Teacher's Certificate, Northcote College of Education, HK <br>
            <br>
            <strong>Research Focus</strong></p>
        <ul>
            <li>Sport and Exercise Psychology</li>
            <li>Aging</li>
            <li>Physical Education</li>
            <li>Gymnastics</li>
            <li>Sport and Leisure Management<br>
                <br>
            </li>
        </ul>
        <p><strong>Awards/Professional Qualification</strong><br>
        </p>
        <ul>
            <li>International Brevet Judge in Women's Artistic Gymnastics, International Federation of Gymnastics
                (F.I.G.), 1986-2016.
            </li>
            <li>Medal of Honour, Hong Kong Special Administrative Region Government, 2004.</li>
            <li>Honorary Member, Executive Committee, Asian Gymnastics Union, 2012.</li>
            <li>Senior Fellow, American Leisure Academy (ALA), 2009.</li>
            <li>Research Fellow, Research Consortium, The American Alliance for Health, Physical Education Recreation
                and Dance, 2003.
            </li>
            <li>Certificate of Merit Student Stress Management Platform (SSMP), Quality Education Fund Outstanding
                Project Awards, 2008.
            </li>
            <li>Champion, the 1996 Open Contest on Production of Physical Education Teaching Materials for Hong Kong
                Secondary Schools.
            </li>
        </ul>
        <p>&nbsp;</p>

        <p><strong>Recent Publications (Since 2010)</strong><br>
            Referred Journal Papers:</p>
        <ul>
            <li><strong>Cheung, S.Y.</strong>, Mak, J. Y., &amp; Dixon, A. (in press). Elite Active Sport Tourists:
                Economic Impacts and Perceptions of Destination Image. Event Management.
            </li>
            <li>Choi, P. H., &amp; <strong>Cheung, S.Y.</strong> (in press). Effects of an eight-week structured
                physical activity program on psychosocial behaviors of children with intellectual disabilities. Adapted
                Physical Activity Quarterly.
            </li>
            <li><strong>Cheung, S.Y. </strong>(2013). Promoting active aging in Hong Kong. Pan-Asian Journal of Sports
                and Physical Education, 5(1), 1-7.
            </li>
            <li><strong>Cheung, S.Y.</strong>, Chan, W. K. &amp; Levy, J. (2012). Motivation and goal orientations of
                Master Games participants in Hong Kong. The Sport Journal, 15 &lt;http://www.thesportjournal.org/tags/volume-15&gt;.
            </li>
            <li>Li, H.T., Chan, J. S., <strong>Cheung, S.Y.</strong>, &amp; Yan, J.H. (2012). Inhibitory control
                differentiates rare target search performance in children. Perceptual and Motor Skills, 114(1), 339-351.
            </li>
            <li>Mak, J. Y. &amp; <strong>Cheung, S.Y.</strong> (2011). The five-factor consumer behavior model for
                intercollegiate football tickets consumption. Journal of Applied Marketing Theory, 2(2), 46-55.
            </li>
            <li>Lam, M. H., <strong>Cheung, S.Y.</strong>, &amp; Chow, B. (2011). Effects of Tai Chi softball training
                on health related quality of life of older adult with functional limitations. Asian Journal of
                Gerontology and Geriatrics, 6(2), 65-71.
            </li>
            <li>Lam, M. H., <strong>Cheung, S.Y.</strong>, &amp; Chow, B. (2011). The effects of Tai Chi softball
                training on physical function health of Chinese older adults. Journal of Human Sport and Exercise,
                6(3),540-553.
            </li>
            <li><strong>Cheung, S.Y.</strong>&amp; Fung, L. (2011). Examining gymnastics training as a concentration
                enhancement exercise. Pan-Asian Journal of Sports and Physical Education, 3(1), 88-94.
            </li>
            <li>Mak, J. Y., &amp; <strong>Cheung, S.Y.</strong> (2011). A case study: Participation motives of strength
                and conditioning training for college students. Asian Journal of Physical Education and Recreation, 17
                (1), 58-64.
            </li>
            <li>Chan, J., <strong>Cheung, S.Y.</strong>, &amp; Mak, J. Y. (2011). Service quality of the Chinese YMCA of
                Hong Kong. Journal of Applied Marketing Theory, 2(1), 26-41.
            </li>
            <li>Wong, A. K.Y., &amp; <strong>Cheung, S.Y.</strong> (2010). Confirmatory factor analysis of the Test of
                Gross Motor Development-2. Measurement in Physical Education and Exercise Science, 14 (3), 202-209.
            </li>
        </ul>
        <p>&nbsp;</p>

        <p>Book Chapters:</p>
        <ul>
            <li><strong>Cheung, S.Y.</strong> (2014). Application of problem -based learning strategies to acquisition
                of sport psychology skills. In A. Siva, D. W.K. Chan, &amp; E. Y.W. Wong (Eds.), Studies on teaching and
                learning Volume 3.(pp.119-129). Hong Kong: Pearson Education Asia Limited.
            </li>
            <li>Jones, D.F., D’Amico Lopez, R., Mwisukha, J., <strong>Cheung, S.Y.</strong>, Piatkowska, M., Wanderi,
                P., Mak, J. Y., &amp; Thairu, M. (2013). Examining sport management as a global academic discipline. In
                J. E. Saunders, M. Holzweg, W. Ho, &amp; L. Housner, (Eds.), Current issues in Contemporary comparative
                physical education and sport. (pp.142-168). Berlin: Logos Verlag.
            </li>
            <li>Chow, B. C., Mak, D. K. C., <strong>Cheung, S.Y.</strong>, &amp; Louie, L. H. T. (2010). Transmitter
                assisted learning: New application in teaching and coaching sports skill. In A. Siva (Ed.), Studies on
                teaching and learning Volume 2 (pp. 93-98). Hong Kong: Hong Kong Baptist University.
            </li>
        </ul>
        <p>&nbsp;</p>

        <p>Referred Conference Proceedings:</p>
        <ul>
            <li><strong>Cheung, S.Y.</strong> (2015). Promotion of active aging by the social ecological model. In F.
                Fu, &amp; J. Levy (Eds.), Active aging and quality of life 2014. (pp.103-109).
            </li>
        </ul>
        <p>&nbsp;</p>

        <p>Research Report:</p>
        <ul>
            <li>HO, W. ,LIU, R. &amp; <strong>Cheung, S.Y. </strong>(2013). Evaluation study on the implementation of
                the physical education curriculum in Hong Kong. Commissioned by the Education Bureau of HKSAR.
            </li>
        </ul>
        <p>&nbsp;</p>

        <p class="subpageContent"><strong>Research Grants</strong> <strong>(Since 2010)</strong><br>
        </p>
        <ul class="subpageContent">
            <li><em>"<em>Provision of Consultancy Services for a Study on Sport for People with Disabilities in Hong
                Kong</em>"</em> withProf. Frank Fu (PI) and Dr. Peggy Choi (Co-I)<br>
                Grant support: Home Affair Bureau, HK$1,396,850<br>
                Commencement date: May 2015<br>
                Completion date: Mar 2016
            </li>
            <li><em>"Using Sports to Assist Drug Abusers to Abstain from Drug Use"</em> with Dr. Peggy Choi and Mr. Mak
                Tsz Shun, Co-Is<br>
                Grant support: Tung Wah Group of Hospitals CROSS Center, HK$114,689.50<br>
                Commencement date: May 2015<br>
                Completion date: Feb 2016
            </li>
        </ul>
        <ul class="subpageContent">
            <li><em>"Top-up Fund for Community of Practice Project: Enhancing students’ graduate attributes (GAs)
                through problem based learning and service learning in formal academic courses”, </em>PI with 8
                colleagues<br>
                Grant support: Teaching Development Grants, HK$120,000<br>
                Commencement date: May 2015<br>
                Completion date: Dec 2016
            </li>
        </ul>
        <ul class="subpageContent">
            <li><em>“The effects of intermittent hypoxia training on physical and cognitive functions for older
                adults”</em>, with Dr. Wendy Huang, Dr. Guo Linxuan, and Prof. Frank Fu, Co-Is<br>
                Grant Support: Faculty Research Grants, HKBU, HK$149,900<br>
                Commencement Date: May 2015<br>
                Completion Date: Jul 2016
            </li>
            <li><em>“Reinforcing the importance of academic integrity and ethics in students through blended learning-A
                Deployment of Augmented reality applications”</em>, with Dr. Eva Wong (P-I) and 18 faculty members<br>
                Grant Support: UGC additional funding for theme-based projects on teaching and learning related
                initiatives, HK$7,985,000 (HKBU’S HK$4,139,000)<br>
                Commencement Date: Jun 2014<br>
                Completion Date: Mar 2017
            </li>
            <li><em>“A Community of Practice to create a model for student e-portfolios as a tool for life-long learning
                and assessment”</em> with Dr. Tushar Chaudhuri (P-I) and 10 colleagues<br>
                Grant Support: Teaching Development Grants, HK$400,400<br>
                Commencement Date: May 2014<br>
                Completion Date: Apr 2015<br>
            </li>
        </ul>
        <ul class="subpageContent">
            <li><em>"Community of Practice Project: Enhancing students’ graduate attributes (GAs) through problem based
                learning and service learning in formal academic courses”,</em> PI with 8 colleagues <br>
                Grant support: Teaching Development Grants, HK$499,760<br>
                Commencement date: Dec 2013<br>
                Completion date: Jun 2015
            </li>
            <li><em>"Evaluation Study on the Implementation of the Physical Education Curriculum”,</em> with Dr. Walter
                Ho (P-I) and Dr. Raymond Liu (Co-I)<br>
                Grant support: Education Bureau, HKSAR, HK$481,227<br>
                Commencement date: Jun 2011<br>
                Completion date: Feb 2013
            </li>
            <li><em>"Hong Kong Rugby Sevens spectators’ motivation and characteristics of ticket purchasing”</em>, with
                Prof. Jennifer Mak (Co-I) <br>
                Grant support: Faculty Research Grants, HKBU, HK$44,020<br>
                Commencement date: Mar 2011<br>
                Completion date: Dec 2011
            </li>
            <li><em>"Study on the worksite wellness promotion scheme of staff at University”</em>, with Prof. Lena Fung
                (Co-I) <br>
                Grant support: Faculty Research Grants, HKBU, HK$99,780<br>
                Commencement date: Dec 2009<br>
                Completion date: Feb 2011
            </li>
        </ul>
        <p class="subpageContent">&nbsp;</p>

        <p class="subpageContent"><strong>Community/Professional Services (Ongoing)</strong><br>
        </p>
        <ul class="subpageContent">
            <li>Member, Advisory Committee on Admission of Quality Migrants and Professionals, Security Bureau (1 Jul
                2014-30 Jun 2016)
            </li>
            <li>Member, Administrative Appeals Board, Administrative Wing, Chief Secretary for Administration’s Office
                (15 Jul 2012-14 Jul 2018)
            </li>
            <li>Chairperson, The Gymnastics Association of Hong Kong, China (2004-2016)</li>
            <li>Executive Committee Member, International Sport and Culture Association (ISCA) (Nov 2011-Oct 2015)</li>
            <li>Board Member, Sports Ministry Coalition Ltd. (Since 1995)</li>
            <li>Member, Executive Committee, Hong Kong Society of Sport and Exercise Psychology (May 2009-Apr 2016)</li>
            <li>Advisor, Hong Kong Sports Association for the Mentally Handicapped (Since 2002)</li>
            <li>Advisor, Aberdeen Kai-fong Welfare Association Social Service Centre (Since 2005)</li>
        </ul>
    </div>


    <!-- ################################################################################################ -->

    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
</main>
</div></div>