<div class="wrapper row3"></a>
    <div class="rounded"></a>
        view/people/people_list.html

        <hr />

        <ul>
            <ol><a href="#people/cheungsiuyin">Director: Prof. Cheung Siu Yin – Professor</a></ol>
            <ol><a href="#people/kimsm">Associate Director: Dr. Kim Seungmo – Assistant Professor</a></ol>
            <ol><a href="#people/lauwc">Prof. Lau Wing Chung – Professor</a></ol>
            <ol><a href="#people/chenkc">Dr. Chen Kuan Chou – Assistant Professor</a></ol>
            <ol><a href="#people/hongsi">Dr. Hong Sungil – Assistant Professor</a></ol>
            <ol><a href="#people/zhengjinming">Dr. Zheng Jinming – Post-Doctoral Research Fellow</a></ol>
            <ol><a href="#people/zhaoyanan">Dr. Zhao Yanan – Post-Doctoral Research Fellow</a></ol>
        </ul>
    </div>

</div>
